<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7175010006-6ts21knkv0cgslp3u0ggu4lek06luuse.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7175010006-6ts21knkv0cgslp3u0ggu4lek06luuse</string>
	<key>API_KEY</key>
	<string>AIzaSyDYrETyIIWRR4bFQBT9Mv3vxSgaxILm-G8</string>
	<key>GCM_SENDER_ID</key>
	<string>7175010006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopShoes</string>
	<key>PROJECT_ID</key>
	<string>shop-shoes-1907b</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-shoes-1907b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7175010006:ios:25cc70667e17736efdfb77</string>
</dict>
</plist>